@font-face {
    font-family: "Russo One";
    src: url(Russo_One.ttf);
}

.root {
    -fx-background-color: #585858;
}
.label {
    -fx-font-family: "Russo One";
    -fx-font-size: 150%;
    -fx-background-color: #aaaaaa;
    -fx-text-fill: #d11a1a;
    -fx-border-color: #353535;
}

.revealed-cell {
    -fx-background-color: #888888;
}