@font-face {
    font-family: "Russo One";
    src: url(Russo_One.ttf);
}

.root {
    -fx-background: #505050;
    -fx-padding: 0;
}

/* .scrollpane > .viewport {
    -fx-background-color: transparent;
}

.scrollpane {
    -fx-background-color: #505050;
} */
.label {
    -fx-font-family: "Russo One";
    -fx-text-fill: #ff0000;
}
.label .text {
    -fx-stroke: #ff7f7f;
    -fx-stroke-width: 1px;
    -fx-font-size: 150%;
}

.gamecell {
    -fx-font-family: "Russo One";
    -fx-font-size: 150%;
    -fx-background-color: #aaaaaa;
    -fx-border-color: #353535;
}

.gamecell:pressed {
    -fx-background-color: #999999;
}

.revealed.gamecell {
    -fx-background-color: #808080;
}
.revealed.gamecell .text {
    -fx-stroke-width: 1px;
}

/* Couldn't figure out how to have different cell label colors without this horribleness */
/* TODO: This is dumb, and probably also won't play nice with custom user settings  */
.n0 {
    -fx-text-fill: #000000;
}
.n1 {
    -fx-text-fill: #0000ff;
}
.n1 .text {
    -fx-stroke: #7f7fff;
}
.n2 {
    -fx-text-fill: #008400;
}
.n2 .text {
    -fx-stroke: #66cc66;
}
.n3 {
    -fx-text-fill: #ff0000;
}
.n3 .text {
    -fx-stroke: #ff7f7f;
}
.n4 {
    -fx-text-fill: #000084;
}
.n4 .text {
    -fx-stroke: #6666cc;
}
.n5 {
    -fx-text-fill: #840000;
}
.n5 .text {
    -fx-stroke: #b25959;
}
.n6 {
    -fx-text-fill: #008484;
}
.n6 .text {
    -fx-stroke: #59b2b2;
}
.n7 {
    -fx-text-fill: #840084;
}
.n7 .text {
    -fx-stroke: #b259b2;
}
.n8 {
    -fx-text-fill: #777777;
}
.n8 .text {
    -fx-stroke: #b2b2b2;
}